<div class="c-profile">
    <img src="http://placehold.it/100x100" class="c-profile__photo">
    <h2 class="c-profile__name">Pessoa Exemplo</h2>
    <p class="c-profile__email">pessoa@exemplo.com</p>
    <p class="c-profile__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,800i');

    .c-profile {
        margin: 0 auto;
        color: #333;
        padding: 20px;
        max-width: 320px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        border-radius: 5px;
        border: 1px solid #efefef;
    }

    .c-profile__photo {
        display: block;
        margin: 30px auto;
        border-radius: 50%;
    }

    .c-profile__name {
        color: #666;
        margin: 0;
        font-size: 18px;
    }

    .c-profile__email {
        margin: 0;
        font-size: 16px;
    }

    .c-profile__description {
        font-size: 14px;
    }
</style>