.App {

  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #f0f0f0;

  * {
    font-family: 'Open Sans', sans-serif;
  }

  #dropzone {
    max-width: calc(80vw - 150px)!important;
    margin: 20px auto;
    position: relative;
    left: 100px;
    background-color: #fff;
  }

  .add-row {
    width: calc(100% - 200px);
    background-color: #C5E0FF;
    height: 40px;
    position: fixed;
    left: 200px;
    bottom: 0;
    background-image: url('./images/ic-plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;

    &:hover {
      background-color: #81B2E2;
    }

    &.active {
      bottom: 150px;
    }

    .data {
      margin-top: 40px;
      padding-top: 40px;
      background-color: white;
      height: 0;
      overflow: hidden;

      &.active {
        height: 150px;
        text-align: center;

      }
    }
  }


}

