.Col {
  border: 1px solid rgba(0,0,0,0);
  position: relative;

  -webkit-transition: border .3s, opacity .3s;
  -moz-transition: border .3s, opacity .3s;
  -ms-transition: border .3s, opacity .3s;
  -o-transition: border .3s, opacity .3s;
  transition: border .3s, opacity .3s;

  &:hover {
    border: 1px solid rgba(0,0,0,.1);
    background-color: #F3F9FF!important;
  }
}